* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #18171F;
    color: #ffffff;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
}

h1 {
    font-size: 36px;
}

.container {
    overflow-x: auto;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    scrollbar-color: #c5c5c5 #404149;
    scrollbar-width: thin;
    margin-top: 60px;
}

.container::-moz-scrollbar {
    height: 8px;
}

.container::-moz-scrollbar-thumb {
    background-color: #c5c5c5;
}

.container::-moz-scrollbar-track {
    background-color: #404149;
}

.container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #404149;
}

.container::-webkit-scrollbar {
    height: 8px;
    border-radius: 10px;
    background-color: #404149;
}

.container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #c5c5c5;
}

.column {
    width: 370px;
    min-width: 320px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    background-color: #24232C;
    border-radius: 12px;
}

/* .outline {
    background-color: #24232C;
    border-radius: 12px;
} */

.lists {
    max-height: 60vh;
    min-height: 60vh;
    overflow-y: auto;
    scrollbar-color: #c5c5c5 #404149;
    scrollbar-width: thin;
}

.lists::-moz-scrollbar {
    width: 8px;
}

.lists::-moz-scrollbar-thumb {
    background-color: #c5c5c5;
}

.lists::-moz-scrollbar-track {
    background-color: #404149;
}

.lists::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #404149;
}

.lists::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    background-color: #404149;
}

.lists::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #c5c5c5;
}

::placeholder {
    font-family: 'Space Mono', monospace;
}

img {
    display: block;
}

.list {
    margin: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: grab;
    background-color: #18171F;
    padding: 12px 6px;
    border-radius: 8px;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    border-radius: 8px;
    overflow: hidden;
    margin: 12px;
}

input {
    width: 90%;
    height: 48px;
    padding: 0 12px;
    outline: none;
    border: none;
    background-color: #E6E5EA;
    color: #18171F;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 16px;
}

.add-item-btn {
    background-color: #CBADF0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 140px;
    color: #18171F;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.delete-column-btn{
    background-color: #CBADF0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    max-width: 100%;
    color: #18171F;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin: 12px;
}

.add-item-btn:active,
.add-column-btn:active, .delete-column-btn:active {
    background-color: #D8B8FF;
}

.add-column-btn {
    background-color: #CBADF0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    /* max-width: 300px; */
    width: 140px;
    color: #18171F;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C2A6E5;
    margin-top: 11px;
}

#errorMessage {
    margin-top: 6px;
    width: 90%;
    max-width: 768px;
    color: #FF5959;
    display: none;
}

.errorMessageInList {
    margin-top: -10px;
    margin-bottom: 6px;
    margin-left: 12px;
    margin-right: 12px;
    width: 90%;
    max-width: 768px;
    color: #FF5959;
    display: none;
}

.columnInput {
    display: flex;
    width: 90%;
    max-width: 768px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 60px;
}

@media screen and (width <=768px) {

    .columnInput {
        margin-top: 48px;
    }

    .container {
        margin-top: 48px;
    }
}

@media screen and (width <=500px) {

    .columnInput {
        margin-top: 32px;
    }

    .container {
        margin-top: 32px;
    }
}